
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  .table-button {
    color: #5382E7;
    background: rgba(83, 130, 231, 0.1);
    border: #5382E7;
    border-radius: 3px;
    width: 33%;
    height: 28px;
    cursor: pointer;
  }
  .empty{
    display: block;
    align-items: center;
    justify-content: center;
  }
  .table-button-delete {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
  }
}
.error{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 59px;
  color: red;
  font-size: 13px;
}
.select {
  .test-select{
    background: white;
    display: block;
    width: 100%;
    height: 46px;
    font-weight: normal;
    font-size: 14px;
    border: 2px solid rgba(43, 56, 68, 0.25);
    border-radius: 3px;
    padding-left: 16px;
    padding-right: 16px;
    outline-width: 50px;
    //appearance: none;
    //background: url("/src/images/icons/arrowtest.svg") no-repeat right;
    //background-position-x: calc(100% - 8px);
    cursor: pointer;
  }

}
